http://{{service.domain}} {
  redir https://{{service.domain}}{uri} permanent
}


{{service.domain}} {

  encode zstd gzip

  handler /media/* {

    root /home/yooneskh/{{service.backendDir}}/
    file_server

    header {
      Cache-Contorol "max-age=5184000"
      -Server
    }

  }

  handler /api/* {

    @options {
      method OPTIONS
    }

    respond @options "OK" 200

    header {
      Access-Control-Allow-Origin *
      Access-Control-Allow-Methods *
      Access-Control-Allow-Headers *
      -Server
    }

    reverse_proxy localhost:{{service.backendPort}}
  	
  }

  handler {

    @cacheable {
      path *.css *.js *.woff2 *.png *.ico *.jpg *.jpeg
    }

    header @cacheable {
      Cache-Control "max-age=5184000"
    }

    reverse_proxy localhost:{{service.frontendPort}}

    header {
      Cache-Control "max-age=31536000"
      Strict-Transport-Security "max-age=31536000; includeSubDomains"
      X-Frame-Options "SAMEORIGIN"
      X-Content-Type-Options "nosniff"
      Referrer-Policy "no-referrer"
      Permissions-Policy ""
      -Server
    }

  }

}
