http://{{service.domain}}, http://www.{{service.domain}}, https://www.{{service.domain}} {
  redir https://{{service.domain}}{uri} permanent
}


{{service.domain}} {

  @options {
    method OPTIONS
  }

  respond @options "OK" 200


  encode zstd gzip


  @api not path /media/*
  @media path /media/*


  reverse_proxy @api localhost:{{service.port}}

  header @api {
    Access-Control-Allow-Origin *
    Access-Control-Allow-Methods *
    Access-Control-Allow-Headers *
  }


  root @media /home/yooneskh/{{service.dir}}/
  file_server

  header @media {
    Cache-Control "max-age=5184000"
  }



  @cacheable {
    path *.css *.js *.woff2 *.png *.ico *.jpg *.jpeg
  }

  header @cacheable {
    Cache-Control "max-age=5184000"
  }



  root * /home/yooneskh/{{service.dir}}/
  file_server
  try_files {path} /

  header {
    Cache-Control "max-age=31536000"
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    X-Frame-Options "SAMEORIGIN"
    X-Content-Type-Options "nosniff"
    Referrer-Policy "no-referrer"
    Permissions-Policy ""
    -Server
  }

}
